timeline {
  enabled = true
  file = "${launchDir}/test_reports/timeline.html"
}

trace {
  enabled = true
  file = "${launchDir}/test_reports/trace.txt"
}

docker {
    enabled = false
    autoMounts  = true
    cacheDir = "${launchDir}/docker_images"
    envWhitelist = 'HOSTNAME,SSH_CONNECTION,SSH_CLIENT,CVS_RSH,http_proxy,https_proxy,HTTP_PROXY'
}

singularity {
    enabled     = true
    autoMounts  = true
    // USER could set this via NXF_SINGULARITY_CACHEDIR
    cacheDir = "${launchDir}/singularity_images"
    runOptions = '--containall'
    envWhitelist = 'HOSTNAME,SSH_CONNECTION,SSH_CLIENT,CVS_RSH,http_proxy,https_proxy,HTTP_PROXY'
}

process {
    errorStrategy = 'terminate'
    container =	'henryjt/sc_nf_diffexpression:1.0.0'
    cpus = 1
    memory = 4.GB
    publish_mode = "symlink" // symlink or copy

    withName: run_differential_expression {
        memory = 32.GB
        cpus = 1
    }
    withName: run_fgsea {
        memory = 25.GB
        cpus = 1
    }
    withName: plot_dge_results {
        memory = 5.GB
    }
}
